<div ng-if="user.admin"
	cg-busy="{promise:promise,message:'Aguarde, por favor...',delay:1000,templateUrl:'/resources/busy.html'}">


	<table ng-show="editing === undefined"
		class="table table-striped table-bordered mt-3">
		<thead class="thead-dark">
			<tr>
				<th rowspan="2">Índice</th>
				<th rowspan="2">Status</th>
				<!-- <th colspan="1">Estatísticas</th> -->
				<th colspan="4">Alterações</th>
				<th colspan="3">Revisões</th>
				<th rowspan="2">Ações</th>
			</tr>
			<tr>
				<!-- <th>Registros</th> -->
				<th>Qtd.</th>
				<th>Últ. Qtd.</th>
				<th>Últ. Data</th>
				<th>Últ. Id</th>
				<th>Últ. Data</th>
				<th>Últ. ID</th>
				<th>Concl.</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="i in indexes">
				<td>{{i.idx}}</td>
				<td>{{status($index)}}</td>
				<!-- <td>{{i.records}}</td> -->
				<td>{{i.buildRecords}}</td>
				<td>{{i.buildLastCount}}</td>
				<td>{{i.buildLastDate}}</td>
				<td>{{i.buildLastId}}</td>
				<td>{{i.refreshTimestamp}}</td>
				<td>{{i.refreshLastId}}</td>
				<td>{{i.refreshComplete}}</td>
				<td>
					<button ng-click="search($index)" type="button"
						class="btn btn-primary btn-sm">Pesquisar</button>
					<button ng-click="refresh($index)" type="button"
						class="btn btn-secondary btn-sm">Reindexar</button>
					<button ng-click="edit($index)" type="button"
						class="btn btn-secondary btn-sm">Editar</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button ng-click="create()" type="button"
		class="btn btn-secondary btn-sm">Criar índice</button>

	<div ng-show="editing !== undefined" class="card">
		<div class="card-body">
			<form>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="name">Identificador</label> <input ng-model="idx"
							type="text" class="form-control" id="name"
							aria-describedby="identificadorHelp" placeholder=""> <small
							id="identificadorHelp" class="form-text text-muted">Use
							apenas minúsculas, número e hífen.</small>
					</div>
					<div class="form-group col-md-8">
						<label for="descr">Descrição</label> <input ng-model="descr"
							type="text" class="form-control" id="descr" placeholder="">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="api">URL da API</label> <input ng-model="api"
							type="text" class="form-control" id="api" placeholder="">
					</div>
					<div class="form-group col-md-6">
						<label for="jwt">Token JWT</label> <input ng-model="token"
							type="text" class="form-control" id="jwt" placeholder="">
					</div>
					<div class="form-group col-md-6">
						<label for="jwt">Velocidade de Criação (registros/min)</label> <select
							class="form-control" ng-model="maxBuild">
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>5</option>
							<option>10</option>
							<option>20</option>
							<option>50</option>
							<option>100</option>
							<option>200</option>
							<option>500</option>
							<option>1000</option>
							<option>2000</option>
							<option>5000</option>
							<option>10000</option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label for="jwt">Velocidade de revisão (registros/10min)</label> <select
							class="form-control" ng-model="maxRefresh">
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>5</option>
							<option>10</option>
							<option>20</option>
							<option>50</option>
							<option>100</option>
							<option>200</option>
							<option>500</option>
							<option>1000</option>
							<option>2000</option>
							<option>5000</option>
							<option>10000</option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label for="jwt">Segredo para autenticar com JWT</label> <input
							ng-model="secret" type="text" class="form-control" id="secret"
							placeholder="">
					</div>
				</div>
				<div class="form-group form-check">
					<input ng-model="active" type="checkbox" class="form-check-input"
						id="ativo"> <label class="form-check-label" for="ativo">Ativo</label>
				</div>
				<button ng-click="save()" class="btn btn-primary">Gravar</button>
				<button ng-show="editing !== -1" ng-click="remove()"
					class="btn btn-secondary">Excluir</button>
			</form>
		</div>
	</div>

</div>
